/* NAVBAR */
.navbar {
  margin-bottom: 0;
}

/* MAIN */
.main-article {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.img-responsive {
  width: 100%;
}

.article {
  text-align: center;
}

.headline {
  text-transform: uppercase;
  color: black;
}

.sponsor-insights {
  text-transform: uppercase;
  font-size: 25px;
}

.article-overlay {
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,1), rgba(255,255,255,1));
    border-top: 5px solid red;
    
    text-align: center;
    font-weight: 900;
}

.us {
  color: red;
  font-size: 25px;
}

/* SIDEBAR */

#sidebar-heading {
  color: red;
  font-size: large;
  text-transform: uppercase;
}

.sidebar-ul {
  margin-top: 25px;
  list-style: square;
  list-style-position: inside;
}

.sidebar-button {
  display: block;
  padding: 10px;
  width: 100%;
  font-weight: 600;
}

.sidebar-item {
  padding: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  color: red;
}

.sidebar-link {
  color: black;
  font-weight: bold;
  font-size: large;
}



/* ---- MEDIA QUERIES ---- */
/* LARGE SCREENS */
@media (min-width: 992px) {
  .article-overlay {
    margin-bottom: -10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
  }
}

/* SMALLER SCREENS */
@media (max-width: 992px) {
  #sidebar {
    text-align: center;
    width: 100%;
  }

  .sidebar-ul {
    padding-left: 0;
  }
}
