/* GLOBAL STYLES */

/* NAVBAR */
.navbar {
  margin-bottom: 0;
}

/* MAIN */
.main-article {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.img-responsive {
  width: 100%;
}

.article {
  text-align: center;
}

.headline {
  text-transform: uppercase;
}

.sponsor-insights {
  text-transform: uppercase;
  font-size: 25px;
}

.article-overlay {
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,1), rgba(255,255,255,1));
    border-top: 5px solid red;
    
    text-align: center;
    font-weight: 900;
  
}

/* SIDEBAR */

#sidebar-heading {
  color: red;
  font-size: large;
  text-transform: uppercase;
}

ul {
  margin-top: 25px;

  list-style: square;
  list-style-position: inside;
}

li {
  padding: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  color: red;
}

.sidebar-button {
  display: block;
  padding: 10px;
  width: 100%;
}

.sidebar-link {
  color: black;
  font-weight: bold;
  font-size: large;
}

.us {
  color: red;
  font-size: 25px;
}

/* ---- MEDIA QUERIES ---- */
/* LARGE SCREENS */
@media (min-width: 992px) {
  .article-overlay {
    margin-bottom: -10px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    
  }
}

@media (max-width: 992px) {
  #sidebar {
    text-align: center;
    width: 100%;
   
  }
  
}
